<div class="sidebar">
  <%= link_to "Home", users_path, method: :get %>
  <a onclick="document.getElementById('idCI').style.display='inline-block'">Current Iteration</a>
	<a onclick="document.getElementById('idBL').style.display='inline-block'">Back Log</a>
	<a onclick="document.getElementById('idIB').style.display='inline-block'">Ice Box</a>
</div>

<div class="content">
  <div>
    <div id="idCI" class="category_panel">
      <span onclick="this.parentElement.style.display='none'" class="btn-close">x</span>
      <h3 class="category-header">Current Iteration</h3>
      <div>
        <%= render partial: "features/form", locals: {fname: "current-iteration" }%>
      </div>
      <div>
        <%= render partial: "features/list_features", locals: {features: @project.features.select {|feature| feature.category_name=="current-iteration" && feature.user_id==current_user.id}} %>
      </div>
    </div>

    <div id="idBL">
      <span onclick="this.parentElement.style.display='none'" class="btn-close">x</span>
      <h3>Backlog</h3>
      <div>
        <%= render partial: "features/form", locals: {fname: "backlog" }%>
      </div>
      <div>
        <%= render partial: "features/list_features", locals: {features: @project.features.select {|feature| feature.category_name=="backlog"  && feature.user_id==current_user.id}}%>
      </div>
    </div>
    
    <div id="idIB">
      <span onclick="this.parentElement.style.display='none'" class="btn-close">x</span>
      <h3>Ice box</h3>
      <div>
        <%= render partial: "features/form", locals: {fname: "ice-box" }%>
      </div>
      <div>
        <%= render partial: "features/list_features", locals: {features: @project.features.select {|feature| feature.category_name=="ice-box" && feature.user_id==current_user.id} } %>
      </div>
    </div>  
  </div>
</div>