<%= form_with(model: [@project.features.build], url: user_project_features_path(@user,@project), method: "post",local: true) do |form| %>
  <div>
    <div class="panel panel-default">
      <div class="panel-head">
        <h4 class="panel-title">
          <button class="btn add" type="button" data-toggle="collapse" data-target=<%= "##{ local_assigns[:fname] }" %> >ADD FEATURE</button>
        </h4>
      </div>
      <div id= "<%= "#{ local_assigns[:fname] }" %>" class="panel-collapse collapse">
        <div class="panel-body2">
          <div>
              <div class="field">
                <strong>Category Name:</strong>
                <%= form.text_field :category_name, id: 'input',value: "#{ local_assigns[:fname] }", readonly: true %>
              </div>
              
              <div class="field">
                <strong>Feature Name:</strong>
                <%= form.text_field :feature_name %>
              </div>

              <div class="field">
                <strong>Feature Description:</strong><br>
                <%= form.text_area :feature_description, class: 'feat-desc' %>
              </div>

              <div class="actions">
                <%= form.submit %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>