  <div class="panel-feature-list panel-default">
    <div class="panel-head">
      <h4 class="panel-title">
        <button class="btn" type="button" data-toggle="collapse" data-target="#searched<%= feature.feature_name.gsub(/\s+/, '') %>"> <%= feature.feature_name %> </button>
      </h4>
    </div>
    <div id="searched<%= feature.feature_name.gsub(/\s+/, '') %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div>
          <% if feature.user_id and feature.user_id == current_user.id %>
            <%= render partial: "features/show_searchedassig_feature" , locals: { feature: feature } %>
      	  <% else %>
            <%= render partial: "features/show_searched_feature" , locals: { feature: feature } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
