<table class="feat-details-show">
  <tbody>
    <tr>
      <td><strong>Ticket Id :</strong></td>
      <td> <%= feature.ticket_id %></td>
    </tr>
    <tr>
      <td><strong>Name :</strong></td> 
      <td><%= feature.feature_name %></td>
    </tr>
    <tr>
      <td><strong>Category :</strong></td>
      <td><%= feature.category_name %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>Description :</strong>
    </tr>
    <tr>
      <td colspan="2"><p class="feature-desc"><%= feature.feature_description %></p></td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td><%= select_tag("feature_status_fixed_#{ feature.id }", options_for_select([["Unstarted", "Unstarted"], ["Started", "Started"], ["Finished", "Finished"], ["Delivered", "Delivered"]], selected: feature.feature_status), disabled: true ) %>
      </td>
    </tr>
    <tr>
      <td><strong>Assign to:</strong></td>
      <td><%= select_tag("feature_assign_fixed_#{ feature.id }", options_for_select( User.all.collect{ |u| [u.username, u.id] }, selected: feature.user_id), { prompt: "Select One", disabled: true} ) %>
      </td>
    </tr>

  </tbody>
</table>
<br>
<div>
  <%= render partial: "documents/list_document", locals: { feature: feature }  %>
</div>
<br>
<div>
  <%= render partial: "tasks/list_searched_tasks", locals: { feature: feature } %>
</div>
<br>

<button class="goto-button" type="button" data-toggle="collapse" data-target="#<%= feature.feature_name.gsub(/\s+/, '') %>">Go to the <%= feature.feature_name %> </button>