<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "PM Tool", page_index_path, class: "navbar-brand" %>
          </div>
          <% if controller_name == "projects" %>
            <div class="navbar-form navbar-left search-section">
              <p>
                <%= form_tag(search_user_project_path, method: :get, remote: true) do %>
                  <%= text_field_tag "search", @value, placeholder: "Search by feature name or id....", size: "35%" %>
                  <%= submit_tag "Search !", id: "search-button"%>
                <% end %>
              </p>
            </div>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to 'Home', users_path %></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications <span class="notification_count">(<%= current_user.notifications.count %>)</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <%= render partial: "notifications/show", locals: { notifications: current_user.notifications.order("created_at DESC") } %>
                </ul>
              </li>
              <li><%= link_to "Hi, <strong>#{ current_user.email }</strong>".html_safe, user_path(current_user.id) %>
              </li>
              <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log Out'.html_safe, logout_path %></li>
            <% elsif request.env['PATH_INFO'] == "/signup" %>
              <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log In'.html_safe, login_path %></li>
            <% elsif request.env['PATH_INFO'] == "/login" %>
              <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, signup_path %></li>
            <% else %>
              <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, signup_path %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log In'.html_safe, login_path %></li>
            <% end %>            
          </ul>
        </div>
      </nav>
    </header>

    <div class="all-content">
      <%= yield %>
    </div>


  </body>
  
  </html>